/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #ffffb9 !important;
}

.CeDiDNumber {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em !important;
    font-weight: 600;
    vertical-align: 0.25em;
}

.AlphaNumericKey {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
    padding-bottom: 6px;
}

.labelgray {
    border-radius: 0.3em;
    background-color: #666666;
    text-align: left;
    color: white;
    font-size: 1.1em;
    line-height: 1.1em;
    padding: 0.2em 0.6em 0.2em 0.6em;
    margin: 0 0 0.2em 0;
    height: fit-content;
}

#successfail_result {
    font-size: 1.2381rem;
}

#ScholarRecord_result {
    font-size: 1.2381rem;
}

#ScholarRecord_result p {
    padding-top: 0.5rem;
    font-size: 1.2381rem;
}

.padtop24 {
    padding-top: 24px;
}

#logoCHEA {
    line-height: 1.0;
    margin: 0;
}

#logoCHEA>a {
    border: 0;
}

#pCHEA {
    line-height: 1.25;
}

#pCHEA span {
    font-size: 1.2381rem;
}

div#SULogo>a,
div#SULogo>a:active,
div#SULogo>a:focus,
div#SULogo>a:hover {
    color: transparent !important;
    text-decoration: none !important;
}

.cev-form-wrapper {
    max-width: 50%;
}

.cev-form-horizontal {
    display: grid;
    grid-template-columns: 3fr 4fr;
    column-gap: 1rem;
}

.cevalidate-btn {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #4aa24a;
    border-color: #3e8f3e;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cevalidate-btn:hover {
    color: #fff;
    border-color: #398439;
    background-color: #419641;
}
.well {
    color: rgb(51, 51, 51);
    background-image: linear-gradient(rgb(232, 232, 232) 0px, rgb(245, 245, 245) 100%);
    border-bottom-color: rgb(220, 220, 220);
    padding: 19px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
}

#result_table {
    width: 140%;
    border-collapse: collapse;
    margin-bottom: 35px;
}

#result_table tr {
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}

#result_table tr td {
    padding: 8px;
}


@media (max-width: 1024px) {
    .cev-form-horizontal {
        display: grid;
        grid-template-columns: 1fr;
    }

    .cev-form-wrapper {
        padding-left: 10px;
    }
 }
